<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Topul postarilor"><app-label-top10-posts></app-label-top10-posts></mat-tab>
  <mat-tab label="Topul de categorii" disabled style="cursor: not-allowed"><app-label-top10-categories></app-label-top10-categories></mat-tab>
  <mat-tab label="Topul autorilor" disabled style="cursor: not-allowed"><app-label-top10authors></app-label-top10authors></mat-tab>
  <mat-tab label="Recomandate" disabled style="cursor: not-allowed"><app-label-recommendationa></app-label-recommendationa></mat-tab>
  <mat-tab label="Postari noi" disabled style="cursor: not-allowed"><app-label-the-latest-posts></app-label-the-latest-posts></mat-tab>
  <mat-tab label="Autori noi" disabled style="cursor: not-allowed"><app-label-new-authors></app-label-new-authors></mat-tab>
  <mat-tab label="Ajutor?" disabled style="cursor: help"><app-label-help></app-label-help></mat-tab>
</mat-tab-group>
<hr style="width: 80%; margin: auto">
