<ul>
<li style="margin-top: 15px">
  <app-categories></app-categories>
</li>
  <li style="  margin-top: 15px; ">
      <a [routerLink]="['/']" > <h1>iAbout
      </h1>
      </a>

  </li>

  <li style="float:right; margin-right: 0px; margin-top: 5px">
    <mat-toolbar >
        <div *ngIf="!auth">
          <button mat-button  [matMenuTriggerFor]="menu2">
            Logare<span class="material-icons">login</span>
          </button>
          <mat-menu #menu2="matMenu">

          <button mat-button (click)="registrationAccount()" >
        Registrare <span class="material-icons">
        person_add
        </span>
      </button>

      <button  mat-button (click)="loginAccount()" >
        Logare <span class="material-icons">
        login
        </span>
      </button>

        </mat-menu>
      </div>


      <div *ngIf="auth"><span class="example-spacer"></span>
        <button mat-button  [matMenuTriggerFor]="menu"><span class="material-icons">
    account_circle
    </span>  {{curentUser.name}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="goDashboard()"><span class="material-icons">
    dashboard
    </span> Panoul de control </button>

          <button mat-menu-item (click)="goMyPosts()"> <span class="material-icons">
    dynamic_feed
    </span> Postarile mele</button>
          <button mat-menu-item (click)="goMySettings()"><span class="material-icons">
    settings_applications
    </span> Setari</button>

          <button mat-button (click)="logautAccount()" ><span class="material-icons">
        logout
        </span>Delogare</button>



        </mat-menu>
      </div>

    </mat-toolbar>
  </li>
</ul>

