<mat-card class="customClass1">
  <h1 class="customClass2">Registration</h1>
  <hr>
  <div class=" customClass2">
    <mat-form-field class="customClass2" >
      <mat-label>Nickname</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="customClass2" >
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="customClass2">
      <mat-label class="customClass2">Tara</mat-label>
      <mat-select class="customClass3">
        <mat-option class="customClass3" value="option">Romania</mat-option>
        <mat-option class="customClass3" value="option">Republica Moldova</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="customClass2" >
      <mat-label>Orasul</mat-label>
      <input matInput>
    </mat-form-field>
    <br>

    <form [formGroup]="myGroup" (ngSubmit)="$event.key.arataNM()" >
      <mat-form-field >
        <mat-label class="customClass2">Telephone</mat-label>
        <span matPrefix>+4 &nbsp;</span>
        <input formControlName="numerTele" type="tel" matInput placeholder="0712-456-789">
        <mat-icon matSuffix>dialpad</mat-icon>
      </mat-form-field>
    </form>

    <div class="example-container">
      <mat-form-field class="customClass2">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="customClass2">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-checkbox > </mat-checkbox>  I agree to the<a (click)="openDialog()">  terms and conditions</a>
 <div >
   <button mat-raised-button class="customClass4">Help?</button>
   <button mat-raised-button class="customClass4" color="primary">Regisration</button>
 </div>
  </div>







</mat-card>
