.customClass1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-block-end: 15%;
  width: 40%;
  min-width: 250px;
  position: center;
  padding-top: 10px;
}

.customClass2{
  text-align: center;
  letter-spacing: 2px;
  width: 60%;
  min-width: 200px;
  margin-right: auto;
  margin-left: auto;
}
p{
  color: red;
}

.customClass4{
  margin-top: 30px;
  margin-block-end: 20px;
  text-align: center;
  letter-spacing: 2px;
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
}
.customClass3{
  letter-spacing: 2px;
}
a {
  display : flex;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor:pointer
}

a:active {
  text-decoration: none;
}

input.ng-touched.ng-invalid{
border:1px solid red;
}
input.ng-touched.ng-valid{
border:1px solid green;
}
mat-checkbox{
color: red;
}
mat-checkbox.mat-checkbox-checked{
color: green;
}
