<mat-card class="customClass1">
  <h1 class="customClass2">Registration</h1>
  <hr>
  <div class=" customClass2">
    <form [formGroup]="RegistrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" class="form-control"/>
          <div
            *ngIf="RegistrationForm.get('email').invalid && RegistrationForm.get('email').touched"
            STYLE="color: red" >email address is invalid</div>
        </div>
      <br>
      <div class="form-group">
        <mat-label>Name</mat-label>
        <input type="text" formControlName="firstName" class="form-control"/>
        <div
          *ngIf="RegistrationForm.get('firstName').invalid && RegistrationForm.get('firstName').touched"
          STYLE="color: red" >enter your first name</div>
      </div>
      <br>
      <div class="form-group">
        <mat-label>Surname</mat-label>
        <input type="text" formControlName="lastName" class="form-control"/>
        <div
          *ngIf="RegistrationForm.get('lastName').invalid && RegistrationForm.get('lastName').touched"
          STYLE="color: red" >enter your last name</div>
      </div>
      <br>
      <div class="form-group">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" class="form-control"/>
        <div
          *ngIf="RegistrationForm.get('password').invalid && RegistrationForm.get('password').touched"
          STYLE="color: red" >password must contain at least 10 characters</div>

      </div>
      <mat-checkbox value="checked" (click)="changeValue(checked)"> I agree to the
        <a (click)="openDialog()" >terms and conditions</a></mat-checkbox>

      <br>

      <button [disabled]=" loading|| !checked|| RegistrationForm.invalid" class="btn btn-primary">
        <span *ngIf="loading"></span> Registration
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <div *ngIf="errorS" class="alert alert-danger mt-3 mb-0">{{errorS}}</div>
    </form>
    <button mat-raised-button class="customClass5" (click)="helpRegAccount()">Help?</button>

  </div>

</mat-card>
